{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bundles/frontend/css/forms.css') }}" />
{% endblock %}

{% block content %}
<h1>Contacto</h1>

<p>Para solicitar cualquier información sobre nuestros eventos, conciertos de cámara, conciertos didácticos, bodas, etc. contacta con nosotros:</p>
<p><strong>Nota:</strong> Si deseas cantar en el coro o tocar en la orquesta ¡no lo dudes más y háznoslo saber!</p>

<div id="contactos">
  
  <div class="div-contacto-wrapper">
    <div class="div-contacto-titulo">
      Presidente y Rel. Públicas
    </div>
    <hr />
    <div class="div-contacto-info">
      <em>Persona de contacto</em>: Txema<br />
      <em>Email</em>: <a href="mailto:joherbur@hotmail.com">joherbur@hotmail.com</a><br />
      <em>Teléfono</em>: 695 782 189
    </div>
  </div>
  
  <div class="div-contacto-wrapper">
    <div class="div-contacto-titulo">
      Secretaría de la Asociación
    </div>
    <hr />
    <div class="div-contacto-info">
      <em>Persona de contacto</em>: Belén<br />
      <em>Email</em>: <a href="mailto:info.amcb@gmail.com">info.amcb@gmail.com</a><br />
      <em>Teléfono</em>: 608 611 000
    </div>
  </div>
  
  <div class="div-contacto-wrapper">
    <div class="div-contacto-titulo">
      Webmaster
    </div>
    <hr />
    <div class="div-contacto-info">
      <em>Persona de contacto</em>: Dani<br />
      <em>Email</em>: <a href="mailto:amcb@sancas.es">amcb@sancas.es</a><br />
      <em>Teléfono</em>: -
    </div>
  </div>
  
</div>

<h2>¡Hazte socio/a!</h2>

<p>Los socios tienen hasta un 30% de descuento en los conciertos de la AMCB que sean de pago.</p>

<p>Descárgate el <a href="#">formulario de alta de socios</a> y envíalo a la <a href="mailto:info.amcb@gmail.com">Secretaría de la Asociación</a> para formalizar tu alta como socio/a.</p>

<hr />

<h2>...o contacta con nosotros desde nuestro formulario</h2>

<br />

<form action="{{path("contacto_submit")}}" method="post" {{ app.environment == 'dev' ? 'novalidate' : '' }}>
	{{ form_widget(form) }}
    <div>
      <label></label>
      <input type="submit" value="Enviar" />
    </div>
</form>

{% endblock %}