{% extends "AppBundle:Fichero:_base.html.twig" %}

{% block title %}Área privada{% endblock %}

{% block panel_title %}Depósito de ficheros{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/library.js') }}"></script>
{% endblock %}

{% block panel_content %}

    <div class="overflow">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('private_fichero_nuevo') }}" class="btn btn-success">Subir fichero</a>
        {%  endif %}


        <div class="pull-right">
            <select class="form-control" onchange="filtrarFicheros(this)">
                {% for key, categoria in categorias %}
                    <option value="{{ key }}" {% if filtro == key %} selected="selected" {% endif %}>{{ categoria }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {% if ficheros|length > 0 %}

    <div class="list-group margin-top-md margin-bottom-xs">
        {% for fichero in ficheros %}
        <a href="{{ path('private_fichero_ver', { 'id': fichero.id }) }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ fichero.titulo }}</h4>
            <h5 class="list-group-item-heading"><span class="color-grey">Publicado por {{ fichero.usuario }} el {{ fichero.fechaCreacion|localizeddate('full', 'short', 'es_ES') }}</span></h5>
            {% if fichero.fechaCreacion != fichero.fechaModificacion %}
                <h6 class="list-group-item-heading"><span class="color-grey">Última modificación el {{ fichero.fechaModificacion|localizeddate('full', 'short', 'es_ES') }}</span></h6>
            {% endif %}
            <h5 class="list-group-item-heading"><strong>Categoría:</strong> {{ fichero.categoriaElegida }}</h5>
            <p class="list-group-item-text">{{ fichero.descripcion|striptags|raw }}</p>
        </a>
        {% endfor %}
    </div>
    {% endif %}


{% endblock %}
