{% extends "AppBundle:Fichero:_base.html.twig" %}

{% block title %}Área privada{% endblock %}

{% block panel_title %}Depósito de ficheros{% endblock %}

{% block panel_content %}


    <form method="get" action="{{ path("private_fichero_listado") }}">

        <div class="row">

            <div class="col-sm-3 margin-bottom-sm">

                <select class="form-control" name="categoria">
                    {% for key, cat in categorias %}
                        <option value="{{ key }}" {% if key == categoria %} selected="selected" {% endif %}>{{ cat }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-4 {{ is_granted('ROLE_ADMIN') ? "col-md-3" : "col-md-4" }} margin-bottom-sm">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search" id="search-addon"></span>
                    </span>
                    <input type="search" class="form-control" placeholder="Términos de búsqueda" name="busqueda" aria-describedby="search-addon" value="{{ busqueda }}">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 {{ is_granted('ROLE_ADMIN') ? "col-sm-3" : "col-sm-5" }} margin-bottom-sm">
                <button type="submit" class="btn btn-primary">
                    {% if is_granted('ROLE_ADMIN') %}
                        <span class="visible-md visible-lg visible-xs hidden-sm">Filtrar resultados</span><span class="visible-sm hidden-md hidden-lg hidden-xs">Filtrar</span>
                    {% else %}
                        Filtrar resultados
                     {%  endif %}
                </button>
                <a href="{{ path("private_fichero_listado") }}" class="btn btn-default">
                    {% if is_granted('ROLE_ADMIN') %}
                        <span class="visible-md visible-lg visible-xs hidden-sm">Limpiar filtros</span><span class="visible-sm hidden-md hidden-lg hidden-xs">Limpiar</span>
                    {% else %}
                        Limpiar filtros
                     {%  endif %}
                </a>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-lg-2 col-lg-offset-1 col-md-2 col-sm-2 text-right">

                    <a href="{{ path('private_fichero_nuevo') }}" class="btn btn-success">
                    <span class="visible-md visible-lg visible-xs hidden-sm">Subir fichero</span><span class="visible-sm hidden-md hidden-lg hidden-xs">Subir</span>
                    </a>

            </div>
            {%  endif %}
        </div>
    </form>


    <div>Resultados de búsqueda: <span class="badge">{{ ficheros|length() }}</span> ficheros.</div>



    {% if ficheros|length > 0 %}

    <div class="list-group margin-top-md margin-bottom-xs">
        {% for fichero in ficheros %}
        <a href="{{ path('private_fichero_ver', { 'id': fichero.id }) }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ fichero.titulo }}</h4>
            <h5 class="list-group-item-heading"><span class="color-grey">Publicado por {{ fichero.usuario }} el {{ fichero.fechaCreacion|localizeddate('full', 'short', 'es_ES') }}</span></h5>
            {% if fichero.fechaCreacion != fichero.fechaModificacion %}
                <h6 class="list-group-item-heading"><span class="color-grey">Última modificación el {{ fichero.fechaModificacion|localizeddate('full', 'short', 'es_ES') }}</span></h6>
            {% endif %}
            <h5 class="list-group-item-heading"><strong>Categoría:</strong> {{ fichero.categoriaElegida }}</h5>
            <p class="list-group-item-text">{{ fichero.descripcion|striptags|raw }}</p>
        </a>
        {% endfor %}
    </div>
    <nav aria-label="Navegación paginada" class="text-center">
  <ul class="pagination">
    <li class="{{ pagina == 1 ? "disabled" : "" }}">
      <a href="{{ path("private_fichero_listado", { 'categoria': categoria, 'busqueda': busqueda}) }}" aria-label="Primero">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
      <li class="{{ pagina == 1 ? "disabled" : "" }}">
          <a href="{{ path("private_fichero_listado", { 'categoria': categoria, 'busqueda': busqueda, 'pagina': pagina-1}) }}" aria-label="Anterior" class="{{ pagina == 0 ? "disabled" : "" }}">
              <span aria-hidden="true">&lsaquo;</span>
          </a>
      </li>
      {% set totalPags = (ficheros|length() / maxResults )|round(0, 'ceil') %}
      {% for i in 0..totalPags-1 %}
          <li class="{{ i+1 == pagina ? "active" : "" }}"><a href="{{ path("private_fichero_listado", { 'categoria': categoria, 'busqueda': busqueda, 'pagina': i+1}) }}">{{ i+1 }}</a></li>
      {% endfor %}
      <li class="{{ pagina == totalPags ? "disabled" : "" }}">
      <a href="{{ path("private_fichero_listado", { 'categoria': categoria, 'busqueda': busqueda, 'pagina': pagina+1}) }}" aria-label="Siguiente">
        <span aria-hidden="true">&rsaquo;</span>
      </a>
    </li>
      <li class="{{ pagina == totalPags ? "disabled" : "" }}">
          <a href="{{ path("private_fichero_listado", { 'categoria': categoria, 'busqueda': busqueda, 'pagina': totalPags}) }}" aria-label="Último">
              <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
  </ul>
</nav>
    {% endif %}


{% endblock %}
