{% extends "AppBundle::layout.html.twig" %}

{% block pre_body %}
  {% include 'AppBundle::preSocial.html.twig' %}
{% endblock %}

{% block content %}
  
<h1>Asociación de Música de Cámara de Bilbao</h1>

<div class="row">
  <div class="col-md-8 col-sm-7">
    <img class="img-responsive" src="{{ asset('bundles/app/images/portada2.jpg') }}" alt="Asociación de Música de Cámara de Bilbao">

    <h2>Próximos conciertos</h2>
    
    {% if(conciertos) %}

      {% for concierto in conciertos %}
        {% if concierto.cartel is empty %}
          {% set cartelImg = 'bundles/app/images/concierto2.jpg' %}
        {% else %}
          {% set cartelImg = concierto.cartelWeb %}
        {% endif %}
        <div class="media">
          <div class="media-left">
            <a href="{{ path('mostrar_concierto', {'fecha_larga': concierto.fecha|localizeddate('full', 'none', 'es_ES')|slugify, 'slug': concierto|slugify, 'id': concierto.id}) }}">
              <img class="media-object img-width-50" src="{{ asset(cartelImg) }}" alt="{{ concierto.noticia }}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading"><a href="{{ path('mostrar_concierto', {'fecha_larga': concierto.fecha|localizeddate('full', 'none', 'es_ES')|slugify, 'slug': concierto|slugify, 'id': concierto.id}) }}">{{ concierto.noticia }}</a></h3>
            <p>{{ concierto.fecha|localizeddate('full', 'short', 'es_ES')|capitalize }}</p>
          </div>
        </div>
      {% endfor %}

      
      <p class="margin-top-md">Puede ver el listado completo de los <a href="{{ path('conciertos') }}">próximos conciertos</a>.</p>
    
    {% else %}
      {# En caso de no haber conciertos a la vista #}
      <p class="margin-top-md">Todavía no hay fechas establecidas a corto plazo para <a href="{{ path('conciertos') }}">próximos conciertos</a>.</p>
    {% endif %}

      <p>También puede ver el <a href="{{ path('archivo_conciertos') }}">archivo de conciertos</a>.</p>
    
  </div>

  <div class="col-md-4 col-sm-5 hidden-xs">
    <div class="fb-page" data-href="https://www.facebook.com/coro.orquesta.bilbao" data-width="310" data-tabs="timeline" data-small-header="false" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/coro.orquesta.bilbao"><a href="https://www.facebook.com/coro.orquesta.bilbao">Coro Orquesta Bilbao AMCB</a></blockquote></div></div>
  </div>
  <div class="visible-xs hidden-sm text-center">
    <hr>
    <div class="fb-page" data-href="https://www.facebook.com/coro.orquesta.bilbao" data-width="380" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>
    <hr>
  </div>
</div>

<h2>Un poco de historia acerca de nosotros...</h2>
<p><em>La Asociación de Música de Cámara de Bilbao</em> nace en el año 1977 como agrupación coral hasta la consolidación de la orquesta. Desde ese mismo año comienzan las actuaciones de la agrupación, teniendo lugar, sobre todo, en Bilbao y alrededores, por el compromiso con el público de su entorno, pero además, actuando en diferentes comunidades de España.</p>

<p>La Asociación de Música de Cámara de Bilbao es una organización que, en sus más de treinta años de andadura ha mantenido intacta una de sus cualidades más peculiares, como ha sido aunar en una agrupación <em>un Coro y una Orquesta de Cámara</em> de forma permanente y estable. Esta característica nos diferencia de numerosas agrupaciones que son estrictamente corales y de otras, ya menos numerosas, que son puramente orquestales. <a href="{{ path('historia') }}">Leer más...</a></p>

<hr />

<div class="row text-center">
  
  <div class="col-sm-4">Entra en <a href="{{ path('conciertos') }}" title="Próximos conciertos">Conciertos</a> para ver fechas y lugares de nuestras actuaciones.</div>
  
  <div class="col-sm-4">Pincha en <a href="{{ path('escuchanos') }}" title="Vídeos de actuaciones">Escúchanos</a> para oir nuestras interpretaciones.</div>
  
  <div class="col-sm-4">Para hacerse socio, cantar o tocar en la orquesta <a href="{{ path('contacto') }}" title="Información de contacto">contacta</a> con nosotros.</div>
  
</div>

<hr />

<h2>Patrocinadores</h2>

    <div class="patrocinadores">
        <img src="{{ asset('bundles/app/images/patrocinadores/kutxabank.jpg') }}" alt="Kutxabank - Entidad financiera" title="Kutxabank - Entidad financiera" />
    </div>

{% endblock %}
