{% extends "AppBundle::layout.html.twig" %}

{% block pre_body %}
  {% include 'AppBundle::preSocial.html.twig' %}
{% endblock %}

{% block content %}
  
<h1>Asociación de Música de Cámara de Bilbao</h1>

<div class="overflow">
  <div id="contenido-inicio">

    <div class="imagen-inicio">
      <img src="{{ asset('bundles/app/images/portada.jpg') }}" alt="Asociación de Música de Cámara de Bilbao">
    </div>
    
    <h2>Próximos conciertos</h2>
    
    {% if(conciertos) %}
    
      <ul class="lista-noticias-conciertos">
      {% for concierto in conciertos %}
          <li><a href="{{ path('mostrar_concierto', {'fecha_larga': concierto.fechaLarga, 'slug': concierto.slug, 'id': concierto.id}) }}">{{ concierto.fecha|fecha_muy_corta() }}: {{ concierto.noticia }}</a></li>
      {% endfor %}
      </ul>
      
      <p>...o también puede ver el listado completo de los <a href="{{ path('conciertos') }}">próximos conciertos</a>.</p>
    
    {% else %}
      {# En caso de no haber conciertos a la vista #}
      <p><strong>Todavía no hay fechas establecidas a corto plazo para <a href="{{ path('conciertos') }}">próximos conciertos</a>.</strong></p>
    {% endif %}
    
  </div>

  <div id="social-right">
    <div class="fb-like-box" data-href="http://www.facebook.com/coro.orquesta.bilbao" data-width="292" data-show-faces="true" data-colorscheme="light" data-stream="true" data-header="true" data-border-color="#900" ></div>
  </div>
  
</div>

<h2>Un poco de historia acerca de nosotros...</h2>
<p><em>La Asociación de Música de Cámara de Bilbao</em> nace en el año 1977 como agrupación coral hasta la consolidación de la orquesta. Desde ese mismo año comienzan las actuaciones de la agrupación, teniendo lugar, sobre todo, en Bilbao y alrededores, por el compromiso con el público de su entorno, pero además, actuando en diferentes comunidades de España.</p>

<p>La Asociación de Música de Cámara de Bilbao es una organización que, en sus más de treinta años de andadura ha mantenido intacta una de sus cualidades más peculiares, como ha sido aunar en una agrupación <em>un Coro y una Orquesta de Cámara</em> de forma permanente y estable. Esta característica nos diferencia de numerosas agrupaciones que son estrictamente corales y de otras, ya menos numerosas, que son puramente orquestales. <a href="{{ path('historia') }}">Leer más...</a></p>

<hr />

<div class="portada-adds-wrapper">
  
  <div>Entra en <a href="{{ path('conciertos') }}" title="Próximos conciertos">Conciertos</a> para ver fechas y lugares de nuestras actuaciones.</div>
  
  <div>Pincha en <a href="{{ path('escuchanos') }}" title="Vídeos de actuaciones">Escúchanos</a> para oir nuestras interpretaciones.</div>
  
  <div>Para hacerse socio, cantar o tocar en la orquesta <a href="{{ path('contacto') }}" title="Información de contacto">contacta</a> con nosotros.</div>
  
</div>

<hr />

<h2>Patrocinadores</h2>

    <div class="patrocinadores">
        <img src="{{ asset('bundles/app/images/patrocinadores/kutxabank.jpg') }}" alt="Kutxabank - Entidad financiera" title="Kutxabank - Entidad financiera" />
    </div>

{% endblock %}
