{% extends "AppBundle::layout.html.twig" %}

{% block title %}Archivo de conciertos{% endblock %}

{% block description_metatag %}
    Archivo de conciertos del Coro y Orquesta de Cámara de Bilbao. Eventos y actuaciones antiguas agrupadas por años.
{% endblock %}

{% block keywords_metatag %}
    Archivo, conciertos, calendario, eventos, actuaciones, {{ actual }}, años, información, noticias, programa, repertorio, coro, orquesta, cámara, bilbao
{% endblock %}

{% block content %}
<h1>Archivo de conciertos</h1>

    <div class="well">Ver los <a href="{{ path('conciertos') }}">próximos conciertos</a>.</div>

<div class="row">
    <div class="col-sm-12">Archivo de conciertos agrupados por años: </div>
    <div class="col-sm-12">
        <nav>
            <ul class="pagination">
      {% for pagina in paginas %}
          <li class="{{ (pagina.year == actual) ? "active" : "" }}">
        <a href="{{ path("archivo_conciertos_pag", {'year': pagina.year}) }}"  title="Ver conciertos del año {{ pagina.year }}">{{ pagina.year }}</a>
        </li>
      {% endfor %}

            </ul>
        </nav>
    </div>
</div>

{% for concierto in conciertos %}

{% include 'AppBundle:Concierto:_vistaPrevia.html.twig' %}

{% endfor %}

{% endblock %}
