{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ concierto.tipo }}. {{ concierto.fecha|fecha_larga()|capitalize }}{% endblock %}

{% block description_metatag %}
    {{ concierto.tipo }}. {{ concierto.fecha|fechahora_larga()|capitalize }}
{% endblock %}

{% block keywords_metatag %}
    {{ (concierto.noticia|raw ~ " " ~ ((concierto.esGratis) ? 'gratuito' : '') ~ " " ~ (concierto.fecha|fecha_larga()|raw) ~ " " ~ concierto.lugar|raw ~ ", coro, orquesta, cámara, bilbao, programa")|coma_separated_string() }}
{% endblock %}

{% block content %}
<h1>{{ concierto.noticia }}</h1>

<div class="row">

  <div class="col-sm-4 pull-sm-right">
    <img class="img-responsive img-thumbnail" src="{{ asset('bundles/app/images/concierto.jpg') }}" alt="{{ concierto.noticia }}">
  </div>

  <div class="col-sm-8">
    <div class="col-sm-4 col-md-3"><strong>Tipo de evento</strong></div>
    <div class="col-sm-8 col-md-9">{{ concierto.tipo }} <em>{{ (concierto.esGratis) ? '(gratuito)' : '' }}</em></div>
    <div class="col-sm-4 col-md-3"><strong>Fecha</strong></div>
    <div class="col-sm-8 col-md-9">{{ concierto.fecha|localizeddate('full', 'short', 'es_ES')|capitalize }}</div>
    <div class="col-sm-4 col-md-3"><strong>Lugar</strong></div>
    <div class="col-sm-8 col-md-9">{{ concierto.lugar }}</div>
    {% if(concierto.maps)%}
      <div class="col-sm-4 col-md-3"><strong>Mapa</strong></div>
      <div class="col-sm-8 col-md-9"><a href="{{ concierto.maps }}" target="_blank" rel="nofollow">Ver en Google Maps&trade;</a></div>
    {% endif %}
    <div class="col-sm-4 col-md-3"><strong>Dirección</strong></div>
    <div class="col-sm-8 col-md-9">{{ concierto.direccion }}</div>
    {% if(concierto.entradas)%}
      <div class="col-sm-4 col-md-3"><strong>Entradas</strong></div>
      <div class="col-sm-8 col-md-9">{{ concierto.entradas|raw }}</div>
    {% endif %}
    <div class="col-xs-12 margin-top-md"><p class="lead"><strong>Programa</strong></p></div>
    <div class="col-xs-12">
      {% if(concierto.programa)%}
        {{ concierto.programa|raw }}
      {% else %}
        <p><em>Todavía no está disponible el programa del concierto. Ampliaremos información lo antes posible. Disculpen las molestias.</em></p>
      {% endif %}
    </div>
  </div>
</div>




{% endblock %}
