<nav class="navbar navbar-maroon navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">AMCB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('conciertos') }}">Conciertos</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Miembros <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('direccion') }}">Dirección del Coro y Orquesta</a></li>
                        <li><a href="{{ url('coro') }}">Miembros del Coro</a></li>
                        <li><a href="{{ url('orquesta') }}">Miembros de la Orquesta</a></li>
                        <li><a href="{{ url('juntaDirectiva') }}">Junta directiva</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Multimedia <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('galeria') }}">Galería de fotos</a></li>
                        <li><a href="{{ url('escuchanos') }}">Vídeos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Información <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('historia') }}">Historia</a></li>
                        <li><a href="{{ url('repertorio') }}">Repertorio</a></li>
                        <li><a href="{{ url('docsInteres') }}">Documentos de interés</a></li>
                    </ul>
                </li>
                <li><a href="{{ url('contacto') }}">Contacto</a></li>
                <li><a href="{{ url('private_homepage') }}">Área privada</a></li>
            </ul>
        </div>
    </div>
</nav>
