<div id="header-wrapper">
  
  <div id="header-content">

    <div id="header-left">
      <div id="logo-left">
        <img src="{{ asset('bundles/app/images/logo.png') }}" alt="AMCB" title="Asociación de Música de Cámara de Bilbao" />
      </div>
    </div>

    <div id="header-menu">
      <ul>
        <li><a href="{{ path('homepage') }}">Inicio</a></li>
        <li><a href="{{ url('conciertos') }}">Conciertos</a></li>
        <li><a href="{{ url('miembros') }}">Miembros</a></li>
        <li><a href="{{ url('galeria') }}">Galería de fotos</a></li>
        <li><a href="{{ url('contacto') }}">Contacto</a></li>
      </ul>
    </div>
          
  </div>
        
</div>
