{% extends "PrivateBundle:Fichero:_base.html.twig" %}

{% block title %}Subir nuevo fichero{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/common/css/forms.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/common/js/library.js') }}"></script>
{% endblock %}

{% block panel_content %}

    <p><a href="{{ path('private_fichero_listado') }}" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a></p>

    {{ form(formulario, {'attr': {'onsubmit': 'return onSubmitShowSpinner(' ~ formulario.guardar.vars.id ~ ');'}}) }}

{% endblock %}
